In [6]:
import sys
import pandas as pd
sys.path.append('..')

import kagglehub

from src.analysis import ABTestAnalysis
from src.visualization import VisualizationManager

path = kagglehub.dataset_download("chebotinaa/fast-food-marketing-campaign-ab-test")
df = pd.read_csv(path + "/WA_Marketing-Campaign.csv")

df

,MarketID,MarketSize,LocationID,AgeOfStore,Promotion,week,SalesInThousands
0,1,Medium,1,4,3,1,33.73
1,1,Medium,1,4,3,2,35.67
2,1,Medium,1,4,3,3,29.03
3,1,Medium,1,4,3,4,39.25
4,1,Medium,2,5,2,1,27.81
...,...,...,...,...,...,...,...
543,10,Large,919,2,1,4,64.34
544,10,Large,920,14,2,1,50.20
545,10,Large,920,14,2,2,45.75
546,10,Large,920,14,2,3,44.29
547,10,Large,920,14,2,4,49.41

In [ ]:
sample_stats = analysis.get_sample_stats()
print("Sample Statistics:")
print(f"Total sample size: {sample_stats['total_size']}")
print(f"Variant sizes:\n{sample_stats['variant_sizes']}")
print(f"Variant proportions:\n{sample_stats['variant_props']}")